<a href="https://colab.research.google.com/github/Hprasad2003/python-program/blob/main/python_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name="Hari"
salary=100000
print("my name is:,Hari")
print("my salary is:,100000")

my name is:,Hari
my salary is:,100000

In [ ]:
name="Smiley"
age=23
district="andhrapradesh"
print("my name is:",name)
print("my age is:",age)
print("my district is:",district)
print()
print("my name is:",type(name))
print("my age is:",type(age))
print("my district is:",type(district))

my name is: Smiley
my age is: 23
my district is: andhrapradesh

my name is: <class 'str'>
my age is: <class 'int'>
my district is: <class 'str'>

data type simple program

In [ ]:
name="swetha"
heigth=5.9
print("my name is:","swetha")
print("my heigth is:",5.9)
print()
print("my name is:",type(name))
print("my heigth is:",type(heigth))

my name is: swetha
my heigth is: 5.9

my name is: <class 'str'>
my heigth is: <class 'float'>

In [ ]:
student_id=3
salary=25000
print("my student_id is:",3)
print("my salary is:",25000)
print()
print("my name is:",type(name))
print("my salary is:",type(salary))

my student_id is: 3
my salary is: 25000

my name is: <class 'str'>
my salary is: <class 'int'>

In [ ]:
fruits=["bannna","apple","oreng","greaps"]
#print(fruits):

In [ ]:
a=5+6j
print(a)
print(type(a))

(5+6j)
<class 'complex'>

In [ ]:
a=(9,16,7,2)
print(a)
print(type(a))

(9, 16, 7, 2)
<class 'tuple'>

In [ ]:
a=12345
print(a)
print(type(a))

12345
<class 'int'>

In [ ]:
a="hari"
print(a)
print(type(a))

hari
<class 'str'>

In [ ]:
a=[3,3,"python",3.13]
print(a)
print(type(a))

[3, 3, 'python', 3.13]
<class 'list'>

TRUE OR FALSE PROGRAM

In [ ]:
a=True
b=False
print(a)
print(b)
print(type(a))
print(type(b))

True
False
<class 'bool'>
<class 'bool'>

none program

In [ ]:
a=None
print(a)
print(type(a))

None
<class 'NoneType'>

MIXED PROGRAM

In [ ]:
NAME=("LADDU")
HALLTICKETNUMBER=(123456789)
DORNUMBR=("YESH",3.13)
HEADCOUNT=(3,7,6,4)
ROLLNUMBER=("12345")
PRINT(NAME)
PRINT(HALLTICKETNUMBER)
PRINT(DORNUMBR)
PRINT(HEADCOUNT)
PRINT(ROLLNUMBER)
PRINT()
PRINT("MY NAME IS:",(TYPE("name"))
PRINT("MY HALLTICKETNUMBR IS:",(TYPE(123456789))
PRINT("MY DOR NUMBR IS:",(TYPE("YESH",3.13))
PRINT("MY HEAD COUNT IS:",(TYPE(3,7,5,6,4))
PRINT("MY ROLL NUMBR IS:",(TYPE(12345))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2468744166.py, line 12)

Arithmetic operators program

In [2]:
a=15
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

20
10
75
3.0
0
3
759375

asignment operator

In [13]:
a=20
print(a)

a+=5
print(a)

20
25

Unary operator

In [15]:
a=10
print(a)

a=-10
print(a)

10
-10

Relational operators

In [18]:
a=13
b=7
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

True
False
True
False
False
True

Logical Oprator

In [19]:
a=True
b=False
print(a and a)
print(a or b)
print(not a)

True
True
False

Membership Operator

In [23]:
a=[10,20,30]
print(15 in a)
print(10 in a)
print(30 in a)

False
True
True